body{
    text-align: center;
}

div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */


    /* justify-content:flex-start ; */
    /* justify-content: flex-end; */
    justify-content:center ;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-start; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */

    /* align-self: flex-end; */

      
      flex-grow: 0.5;
      flex-grow: 0.5;
}


   


#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
    height: 200px;
}

#box3 {
    background-color: darkkhaki;
    height: 70px;
}

#box4 {
    background-color: indianred;
}

#box5 {
    background-color: blue;
    /* align-self: flex-end;           highest  priority */
}

